@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container h1{
    font-size: 2rem;
}

.container span{
    font-size:2rem;
    background-color: blueviolet;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
}